In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/datos_abiertos_2023_01.csv')

In [3]:
data

,Viaje_Id,Usuario_Id,Genero,A�o_de_nacimiento,Inicio_del_viaje,Fin_del_viaje,Origen_Id,Destino_Id
0,26751198,1350606,M,1983.0,2023-01-01 00:00:41,2023-01-01 00:26:52,154,50
1,26751199,15163,M,1986.0,2023-01-01 00:04:48,2023-01-01 00:07:46,64,79
2,26751200,1534764,M,1987.0,2023-01-01 00:06:49,2023-01-01 00:17:36,35,12
3,26751201,1240140,M,1996.0,2023-01-01 00:08:05,2023-01-01 00:09:00,35,35
4,26751202,1732214,M,1969.0,2023-01-01 00:09:14,2023-01-01 00:14:57,54,171
...,...,...,...,...,...,...,...,...
366013,27176723,344644,M,2000.0,2023-01-31 23:57:49,2023-02-01 00:08:49,215,198
366014,27176726,2057371,M,1998.0,2023-01-31 23:58:36,2023-02-01 00:06:23,63,52
366015,27176730,355465,M,1994.0,2023-01-31 23:59:33,2023-02-01 00:03:13,80,81
366016,27176731,152612,M,1989.0,2023-01-31 23:59:36,2023-02-01 00:06:34,289,111
366017,27176732,1213162,M,1988.0,2023-01-31 23:59:54,2023-02-01 00:12:30,296,304

In [6]:
len(data['Origen_Id'].unique())

300

In [7]:
len(data['Destino_Id'].unique())

300